.dbd {
    font-size: 14px;
    color: #000000;
}
.dbd a {
    display: inline-block;
    padding-right: 15px;
    text-decoration: none;
}
.bd_img img{
    display: block;
    height: 150px;
    margin: 0 auto;
    text-align: center;
}
.bd_input{
    position: relative;
    text-align: center;
}
.bd_input input{
    height: 30px;
    width: 500px;
    border: solid 2px #c4c7ce;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}
.bd_input button{
    position: absolute;
    right: 479px;
    height: 36px;
    width: 100px;
    background-color:#4e6ef2;
    font-size: 16px;
    color: aliceblue;
    border: none;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    margin-left: -6px;
}